- include_tasks: ol-7.yml
  when: ansible_os_family == 'RedHat' and ansible_distribution == 'OracleLinux' and ansible_distribution_major_version == '7'

- include_tasks: centos-7.yml
  when: ansible_os_family == 'RedHat' and ansible_distribution == 'CentOS' and ansible_distribution_major_version == '7'

- include_tasks: ubuntu.yml
  when: ansible_distribution == 'Ubuntu'

- include_tasks: debian.yml
  when: ansible_distribution == 'Debian'

- name: Ensure slurmd logrotate config is present on compute nodes
  become: true
  template:
    src: slurmd-logrotate
    dest: /etc/logrotate.d/slurmd
    owner: root
    group: root
    mode: '0644'
  when: "'compute' in group_names"
