---
- name: Creates a cron file under /etc/cron.d
  cron:
    name: slurm autoscaling
    minute: "*"
    user: '{{ ansible_user }}'
    job: "/opt/oci-hpc/autoscaling/crontab/autoscale_slurm.sh >> /opt/oci-hpc/logs/crontab_slurm_`date '+\\%Y\\%m\\%d'`.log 2>&1"
  when: autoscaling | bool

- name: Add PATH environment variable to the cron file so that autoscale_slurm.sh can run successfully as a cron job otherwise it runs successfully as a python script but not as a cron job
  cron:
    env: yes
    name: PATH
    value: /home/ubuntu/bin:/home/ubuntu/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin

- name: Add environment variables to the cron file
  cron:
    env: yes
    name: ENV_MYSQL_HOST
    value: localhost

- name: Add environment variables to the cron file
  cron:
    env: yes
    name: ENV_MYSQL_USER
    value: logger

- name: Add environment variables to the cron file
  cron:
    env: yes
    name: ENV_MYSQL_PASS
    value: Monitor1234!

- name: Add environment variables to the cron file
  cron:
    env: yes
    name: ENV_MYSQL_DATABASE_NAME
    value: cluster_log

- name: Add environment variables to the cron file
  cron:
    env: yes
    name: ENV_MYSQL_PORT
    value: 3306

- name: Create a slurm monitoring cron file under /etc/cron.d
  cron:
    name: slurm monitoring
    minute: "*"
    user: '{{ ansible_user }}'
    job: "/opt/oci-hpc/monitoring/monitor_slurm.sh >> /opt/oci-hpc/monitoring/monitor_slurm_`date '+\\%Y\\%m\\%d'`.log 2>&1"
  when: autoscaling_monitoring | bool

- name: Create a  OCI monitoring cron file under /etc/cron.d
  cron:
    name: OCI monitoring
    minute: "*"
    user: '{{ ansible_user }}'
    job: "/opt/oci-hpc/monitoring/monitor_oci.sh >> /opt/oci-hpc/monitoring/monitor_oci_`date '+\\%Y\\%m\\%d'`.log 2>&1"
  when: autoscaling_monitoring | bool

- name: Creates a commented cron file under /etc/cron.d
  cron:
    name: slurm autoscaling
    minute: "#*"
    user: '{{ ansible_user }}'
    job: "#/opt/oci-hpc/autoscaling/crontab/autoscale_slurm.sh >> /opt/oci-hpc/logs/crontab_slurm_`date '+\\%Y\\%m\\%d'`.log 2>&1"
  when: not autoscaling | bool

- name: Create a commented Slurm monitoring cron file under /etc/cron.d
  cron:
    name: slurm monitoring
    minute: "*"
    user: '{{ ansible_user }}'
    job: "#/opt/oci-hpc/monitoring/monitor_slurm.sh >> /opt/oci-hpc/monitoring/monitor_slurm_`date '+\\%Y\\%m\\%d'`.log 2>&1"
  when: not autoscaling_monitoring | bool

- name: Create a commented OCI monitoring cron file under /etc/cron.d
  cron:
    name: OCI monitoring
    minute: "*"
    user: '{{ ansible_user }}'
    job: "#/opt/oci-hpc/monitoring/monitor_oci.sh >> /opt/oci-hpc/monitoring/monitor_oci_`date '+\\%Y\\%m\\%d'`.log 2>&1"
  when: not autoscaling_monitoring | bool

# Billing Collection Cron Jobs

- name: Collect filesystem usage for billing
  cron:
    name: Collect filesystem usage for billing
    minute: "0"
    hour: "*"
    user: '{{ ansible_user }}'
    job: "/opt/oci-hpc/billing/filesystem.sh"

- name: Collect GPU usage for billing
  cron:
    name: Collect gpu usage for billing
    minute: "0"
    hour: "0"
    user: '{{ ansible_user }}'
    job: "/opt/oci-hpc/billing/gpu.sh"

- name: Collect network egress usage for billing
  cron:
    name: network egress usage for billing
    minute: "0"
    hour: "*"
    user: '{{ ansible_user }}'
    job: "/opt/oci-hpc/billing/network.sh"

#  Commented out invoice jobs 

- name: Generate invoice for {account_name}
  cron:
    name: Generate invoice for {account_name}
    minute: "#*"
    user: '{{ ansible_user }}'
    job: "#/opt/oci-hpc/billing/invoice.sh --verbose --account \"{account_name}\" | sudo tee /data/{account_name}/invoices/{account_name}_invoices.csv >/dev/null"

- name: Generate invoice_per_user for {account_name}
  cron:
    name: Generate invoice_per_user for {account_name}
    minute: "#*"
    user: '{{ ansible_user }}'
    job: "#/opt/oci-hpc/billing/invoice_per_user.sh --verbose --account \"{account_name}\" | sudo tee /data/{account_name}/invoices/{account_name}_invoices_per_user.csv >/dev/null"

# Backup Jobs

- name: Backup ldap
  cron:
    name: Backup ldap
    minute: "0"
    hour: "0"
    user: '{{ ansible_user }}'
    job: "python /opt/oci-hpc/scripts/ldap_backup.py"

- name: Backup accounting
  cron:
    name: Backup accounting
    minute: "0"
    hour: "0"
    user: '{{ ansible_user }}'
    job: "/opt/oci-hpc/scripts/accounting_backup.sh"

- name: Backup Slurm
  cron:
    name: Backup Slurm
    minute: "0"
    hour: "0"
    user: '{{ ansible_user }}'
    job: "/opt/oci-hpc/scripts/slurm_backup.sh"

- name: Backup monitoring
  cron:
    name: Backup monitoring
    minute: "0"
    hour: "0"
    user: '{{ ansible_user }}'
    job: "/opt/oci-hpc/scripts/monitoring_backup.sh"